.searchbar-div {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-left: 5px;
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    background-color: rgb(11, 103, 156);
    color:white;
    box-shadow: 6px 5px 9px 4px #80e0f1;
    font-size: 23px;
}

.bar-btn {
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    font-size: 23px;
    box-shadow: 6px 5px 9px 4px #0c0c0c;
}

.btn:hover {
    background-color: black;
    color: rgb(253, 249, 252);

   
  

}

.bar-btn:hover {
    background-color:rgb(254, 250, 246);
    

}

