.pag-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style:none;
    margin: 20px;
    width: 40px;
}

.pag-btn {
    font-family: 'Press Start 2P';
    font-size: larger;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: rgb(12,20,46);
    background: linear-gradient(90deg, rgba(12,20,46,1) 0%, rgba(46,117,245,0.45702030812324934) 25%, rgba(70,155,172,1) 90%);
    color:rgb(230, 235, 208);
    box-shadow: 6px 5px 9px 4px #80e0f1;
   
    
}

.pag-btn:hover {
    background-color: black;
    color:rgb(97, 117, 207);
  box-shadow: 6px 5px 9px 4px #80e0f1;  
  
 
}
