.main-add{
    display: flex;
    justify-content: center;
    background: rgb(12,20,46);
    background: linear-gradient(90deg, rgba(12,20,46,1) 0%, rgba(46,117,245,0.45702030812324934) 25%, rgba(70,155,172,1) 90%);
   
}


.container-add {

    text-align: center;
    margin: 40px;
    padding: 20px;
    width: 800px;
    height: 650px;
    text-shadow:1px 1px 2px rgb(103, 150, 158)
}

.container-add h2 {
    
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: xx-large;
    color:black;
    
}

.div-cont {
    display: flex;
    justify-content: center;
}

.genres-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width:650px;
  
    background: rgb(12,20,46);
    background: linear-gradient(90deg, rgb(227, 232, 251) 0%, rgba(187, 211, 255, 0.457) 25%, rgba(70,155,172,1) 90%);
}

.plat-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width:650px;
    
    background: rgb(12,20,46);
    background: linear-gradient(90deg, rgb(208, 216, 243) 0%, rgba(127, 169, 249, 0.457) 25%, rgba(70,155,172,1) 90%);
}

.container-add label {
    font-size: large;
    margin: 3px;
}

.name{
    height: 25px;
    width: 400px;
    
}

.dt {
    height: 25px;
    width: 120px;
    
}

.div-but-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.div-but-form button {
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(15, 14, 14);
    padding: 10px;
    border-radius: 25px;
    background: rgb(12,20,46);
    background: linear-gradient(90deg, rgba(12,20,46,1) 0%, rgba(46,117,245,0.45702030812324934) 25%, rgba(70,155,172,1) 90%);
   color:white;
}

.div-but-form button:hover {
    background-color: black;
    color: #fff;
}

.container-add input {
    background-color: rgb(248, 243, 237);
}

.container-add textarea {
    background-color: rgb(240, 233, 221);
}