.navbar-div {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-div button{
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background: rgb(12,20,46);
background: linear-gradient(90deg, rgba(12,20,46,1) 0%, rgba(46,117,245,0.45702030812324934) 25%, rgba(70,155,172,1) 90%);
    color:white;
    box-shadow: 6px 5px 9px 4px #80e0f1;
    font-size: 23px
}
.navbar-div button:hover {
    background-color: rgb(8, 8, 8);
    color:rgb(220, 243, 241);
    transform: translate(-1%, 75%);
    transition: 0.3s ease-in;
}


